//All styles can be added here.

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 79, 70, 229;
        --color-fill: 67, 56, 202;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: 99, 102, 241;
    }

    .theme-swiss {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 254, 202, 202;
        --color-text-inverted: 220, 38, 38;
        --color-fill: 185, 28, 28;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 254, 242, 242;
        --color-button-muted: 239, 68, 68;
    }

    .theme-neon {
        --color-text-base: 17, 24, 2;
        --color-text-muted: 47, 67, 6;
        --color-text-inverted: 235, 250, 204;
        --color-fill: 179, 255, 23;
        --color-button-accent: 36, 52, 3;
        --color-button-accent-hover: 55, 79, 5;
        --color-button-muted: 212, 255, 122;
    }
}



@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

.perspective-1000 {
    perspective: 1000px;
}


@layer utilities {
    @container card-container (min-width: 300px) {
        .show-details {
            display: block;
        }
    }

    @container card-container (max-width: 299px) {
        .hide-when-small {
            display: none;
        }
    }
}


:root {
    /* Paleta modo claro (colores más claritos) */
    --c-1: #abd0f5;
    /* Ejemplo: blanco muy claro */
    --c-2: #9bc2f5;
    /* azul clarito */
    --c-3: #65a1eb;
    --c-4: #5ea1ff;
    --c-5: #146be4;
}

/* Paleta modo oscuro */
.dark {
    --dc-1: #f0f4f8;
    /* color 1 dark */
    --dc-2: #bcccdc;
    --dc-3: #829ab1;
    --dc-4: #486581;
    --dc-5: #102a43;
}